* {
    font-family: Roboto,Verdana,Geneva,sans-serif;
    border: 0px solid white;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.center {    
    width: 800px;
    margin: auto;
}

.header-top span {
    font-size: 24px;
    color: #F9FaF8;
}

.header-top a {
    font-size: 16px;
    color: #F9FaF8;
    text-decoration: none;
}

.header-top a:hover {
    text-decoration: underline;
}

.header-bottom {
    display: flex;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.header-text {
    display: flex;
    flex: 0 0 calc(50% - 40px);
    flex-direction: column;
    margin: 20px;
}

h1, h2 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 48px;
}



ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li {
    margin: 0 1rem;
}

.container {
    flex: 1 0 auto;
    padding: 1em;
}

.header,
.footer {
    display: flex;
    flex-shrink: 0;
    padding: 1em 0;
    background-color: #1F2937;
    color: #fff;
}

.header {
    flex-direction: column;
}

button {
    border-radius: 5px;
    color: white;
    background-color: #3882F6;
    font-weight: 900;
    padding: 0.25em 1em;
}

.call-to-action {
    background-color: #3882F6;
    color: #fff;
    margin: 2em 10em;
    padding: 2em;
    border-radius: 10px;
}

.call-to-action button {
    border: 1px solid white;
}

.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
}

.quote-text::before {
    content: open-quote;
    font-size: 1.2em;
}

.quote-text::after {
    content: close-quote;
    font-size: 1.2em;
}

.footer {
    justify-content: center;
}


