* {
    font-family: Roboto,Verdana,Geneva,sans-serif;
    border: 1px solid white;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.center {    
    max-width: 800px;
    margin: auto;
}

.header-top span {
    font-size: 24px;
    color: #F9FaF8;
}

.header-top a {
    font-size: 16px;
    color: #F9FaF8;
    text-decoration: none;
}

.header-bottom {
    display: flex;
    flex: 1 0 auto;
}

.header-bottom img {
    max-width: 50%;
}

.header-text {
    display: flex;
    flex-direction: column;
}

p, h1, h2 {
    margin: 0;
    padding: 0;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li {
    margin: 0 1rem;
}

.container {
    flex: 1 0 auto;
    padding: 1em;
}

.header,
.footer {
    display: flex;
    flex-shrink: 0;
    padding: 1em 0;
    background-color: #1F2937;
    color: #fff;
}

.header {
    flex-direction: column;
}


.call-to-action {
    background-color: #3882F6;
    color: #fff;
    margin: 2em 10em;
    padding: 2em;
    border-radius: 10px;
}

.qoute {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
}

.footer {
    justify-content: center;
}


